/* .grid div{border: 1px solid black;} */
.grid{
    display:grid; /*propiedad que nos habilita el uso de grillas*/
   /*grid-template-columns:300px 100px; acepta valores en px, % y fr. Los valores pueden ir separados por un espacio. Los valores van a representar el tamaño de ancho de cada columna.*/
    /*grid-template-rows:100px 400px; acepta valores en px, %, fr y auto. Los valores puede ir separados por un espacio. Los valores representan el tamaño de alto de cada fila*/
    /* grid-template-rows:600px 200px 100px 200px;
    grid-template-columns:1fr; */
    grid-template-columns:30% 70%;
    grid-template-rows:auto auto;
}
.grid{
    /* 1 columna y 3 filas */
    display: grid;
    grid-template-areas: 
    "header"
    "pepe"
    "footer";
    grid-template-columns:100%;
    grid-template-rows:auto auto auto;
}
header{grid-area: header;}
main{grid-area: pepe;}
footer{grid-area:footer;}

.gridMainIndex{
    display:grid;
    grid-template-areas:
    "imgPrincipal imgPrincipal imgPrincipal"
    "titulo titulo titulo"
    "pIzq imgP pDer";
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto auto auto;
}
.imgPrincipal{grid-area:imgPrincipal;}
.titulo{grid-area: titulo;}
.parrafoIzq{grid-area:pIzq;}
.imgTexto{grid-area:imgP;}
.parrafoDer{grid-area:pDer;}
/* ----- PRODU */
.gridMainProductos{
    display:grid;
    grid-template-areas:
    "tituloProdu tituloProdu tituloProdu tituloProdu"
    "prodA prodB prodC prodD";
    grid-template-columns: 25% 25% 25% 25%; /*repeat(cantidad de columnas, tamaño de columna) repeat(4, 25%) */
    grid-template-rows: auto auto;
}
.tituloProdu{grid-area: tituloProdu;}
.prodA{grid-area:prodA;}
.prodB{grid-area:prodB;}
.prodC{grid-area:prodC;}
.prodD{grid-area:prodD;}

/* GRID */
header, ul, footer{display: flex;}
.jusConBetween{justify-content: space-between;}
/* FLEX*/
li{padding:20px;}
.mb20{margin-bottom: 20px;}
.mt20{margin-top:20px;}
.p20{padding:20px;}
.img-fluid{width:100%;height: auto;}
.prod img{border-bottom: 2px solid cyan;}
/* BOX MODEL*/
ul{list-style-type: none;}
a{text-decoration: none;font-size:22px;}
h1{text-align: center;}
body{margin:0;}
.bgPrincipal{background-color: lightgreen;;}
.prod{background-color:lightpink;padding:5px;margin:10px;border-radius:20px;}
h4{text-align:center;}
img{border-radius: 20px;}
/* GENERAL */